<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.pearson.listerners.Listeners" />
	</listeners>

<!-- 	<groups> -->
<!-- 		<run> -->
<!-- 			<include name="Smoke" /> -->
<!-- 		</run> -->
<!-- 	</groups> -->
	<test name="Validating Pearson Login Home Page">
		<classes>
			<class name="com.pearson.test.LoginTest" />
		</classes>
	</test>

</suite> 
